<div class="bg-gray-50">
    <div class="">
        <div class="grid grid-cols-10 gap-2">
            <!-- side navigation -->
            <div class="col-span-2 h-screen bg-gray-100 sticky top-0">
                <!-- brand logo -->
                <div class="py-4 text-2xl font-extrabold pl-4 sm:pl-6 lg:pl-8">
                    <a href="/">
                        <h1>Shortly</h1>
                    </a>
                </div>
                <!-- menu -->
                <div class="grid grid-flow-row">
                    <!-- menu item -->
                    <div class="flex w-full my-1 hover:bg-gray-200 focus:text-white pl-4 sm:pl-6 lg:pl-8">
                        <h1 class="py-2 font-semibold text-gray-600">
                            <i class="fas fa-user pr-2"></i>My Urls
                        </h1>
                    </div>
                    <div class="flex w-full my-1 hover:bg-gray-200 focus:text-white pl-4 sm:pl-6 lg:pl-8">
                        <h1 class="py-2 font-semibold text-gray-600">
                            <i class="fas fa-archive pr-2"></i>Archived
                        </h1>
                    </div>
                    <div class="flex w-full my-1 hover:bg-gray-200 focus:text-white pl-4 sm:pl-6 lg:pl-8">
                        <h1 class="py-2 font-semibold text-gray-600">
                            <i class="fas fa-clipboard pr-2"></i>Clipboard
                        </h1>
                    </div>

                    <div class="pl-4 sm:pl-6 lg:pl-8">
                        <hr class="border-1 border-stone-300 bg-stone-300 my-1">
                    </div>

                    <div class="flex w-full my-1 hover:bg-indigo-100 pl-4 sm:pl-6 lg:pl-8">
                        <h1 class="py-2 font-semibold text-gray-600">
                            <i class="fab fa-github pr-2"></i>Github
                        </h1>
                    </div>
                    <div class="flex w-full my-1 hover:bg-indigo-100 pl-4 sm:pl-6 lg:pl-8">
                        <h1 class="py-2 font-semibold text-gray-600">
                            <i class="fab fa-twitter pr-2"></i>Twitter
                        </h1>
                    </div>
                    <div class="flex w-full my-1 hover:bg-indigo-100 pl-4 sm:pl-6 lg:pl-8">
                        <h1 class="py-2 font-semibold text-gray-600">
                            <i class="fas fa-donate pr-2"></i>Contribute
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-span-8">
                <!-- top navbar -->
                <div class="sticky top-0 bg-white shadow-b pr-4 sm:pr-6 lg:pr-8">
                    <div class="py-3 flex justify-between">
                        <div
                            class="bg-white rounded-md font-semibold text-sm text-gray-600 border-2 hover:border-indigo-400">
                            <input name="search" id="search" placeholder="Search Here"
                                class="outline-0 rounded-l-md py-2 pl-4 pr-2 placeholder:font-medium placeholder:text-sm placeholder:text-gray-400">
                            <button class="px-2"><i class="fas fa-search"></i></button>
                        </div>
                        <div>
                            <div class="flex">
                                <div>
                                    <form id="myForm">
                                        <input name="longUrl" id="longUrl" placeholder="Enter long url" required
                                            class="border-2 outline-0 rounded-md py-2 pl-4 pr-2 text-sm text-gray-600 placeholder:font-medium placeholder:text-sm placeholder:text-gray-400">
                                        <button
                                            class=" mr-2 ml-0 py-2 px-4 font-normal bg-indigo-600 text-white rounded-md">Create
                                            Url</button>
                                    </form>
                                </div>
                                <div id="profile"
                                    class="relative rounded-full h-10 w-10 bg-profile-avtar bg-cover bg-center border-stone-200 border-2">
                                    <!-- dropdown -->
                                    <div class="hidden origin-top-right absolute right-0 mt-12 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                                        role="menu">
                                        <div class="py-1 font-medium" role="none">
                                            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem"
                                                tabindex="-1" id="menu-item-0">Profile</a>
                                            <hr class="border-1 border-stone-200 bg-stone-200 my-1">
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem"
                                                tabindex="-1" id="menu-item-1">Support</a>
                                            <hr class="border-1 border-stone-200 bg-stone-200 my-1">
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem"
                                                tabindex="-1" id="menu-item-2">License</a>
                                            <hr class="border-1 border-stone-200 bg-stone-200 my-1">
                                            <a href="/logout" class="text-gray-700 block px-4 py-2 text-sm"
                                                role="menuitem" tabindex="-1" id="menu-item-2">Logout</a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main section -->
                <div class="grid grid-cols-2 gap-1">
                    <div class="overflow-y-visible border-2 border-gray-200 rounded-md shadow">
                        <div class="py-4 pl-2">
                            <div class="grid grid-flow-row gap-2">
                                <% urls.forEach(url => { %>
                                <div class="">
                                    <label for="copy-box"
                                        class="pl-8 my-0.5 block rounded-md bg-white font-semibold text-sm text-stone-400"><%= url.longUrl %></label>
                                    <div class="flex justify-between">
                                        <div>
                                            <input type="checkbox" id="remember-me"
                                                class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                                            <label for="remember-me" class="ml-2 inline-block text-sm text-gray-900">
                                                <div
                                                    class="pl-1 inline-block bg-white border-2 rounded-md shadow-sm w-fit">
                                                    <input id="copy" type="text"
                                                        value="<%= url.shortUrl %>" disabled
                                                        class="border-0 p-2 text-sm font-semibold text-gray-800">
                                                    <button onclick="copy()" id="copyicon" class=""><i
                                                            class="fas fa-copy p-2 font-semibold text-gray-400 hover:text-gray-500"></i></button>
                                                    <button class="hidden" id="copydoneicon"><i
                                                            class="fas fa-check-circle p-2 font-semibold text-green-600"></i></button>
                                                </div>
                                        </div>
                                        <div class="pr-2">
                                            <span
                                                class=" shadow border p-2 rounded-md group hover:border-gray-200 hover:border-b-2 hover:border-r-2"><i
                                                    class="fas fa-archive font-semibold text-sm text-gray-400 group-hover:text-gray-500"></i></span>
                                            <a href="<%= url.shortUrl %>" target="_blank"
                                                class=" shadow border p-2 rounded-md group hover:border-gray-200 hover:border-b-2 hover:border-r-2"><i
                                                    class="fas fa-external-link-alt font-semibold text-sm text-gray-400 group-hover:text-gray-500"></i></a>
                                            <span
                                                class=" shadow border p-2 font-semibold text-sm text-gray-400 rounded-md group hover:border-gray-200 hover:border-b-2 hover:border-r-2 hover:text-gray-500"><%= url.clicks %><i
                                                    class="fas fa-fingerprint ml-2 group-hover:text-gray-500"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="border-1 mr-2 border-stone-200 bg-stone-200 my-1">
                                <% }) %>

                            </div>
                        </div>
                    </div>
                    <div class="bg-stone-100">
                        <div class="pr-4 sm:pr-6 lg:pr-8">
                            <div class="py-4 pl-2 rounded-md shadow border-2 border-gray-200">
                                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi libero suscipit,
                                    porro voluptates eos dolores animi doloremque. Mollitia iusto dolor, reiciendis
                                    doloribus voluptates error itaque rerum ut, magnam saepe alias?</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="backdrop-blur-sm bg-stone-900 opacity-80 w-full h-full fixed top-0 left-0">
    <div
        class="w-11/12 sm:w-4/5 md:w-3/4 lg:w-1/2 h-1/2 bg-gray-600 backdrop-blur-sm shadow-2xl rounded-md border-2 border-gray-900  absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <div>
            <div class="text-right py-4 px-4">
                <button class="rounded-md bg-slate-800 h-8 w-8"><i class="fas fa-times bg-gray-800 text-white"></i></button>
            </div>
            <div class="px-4 sm:px-6 md:px-8 lg:px-12">
                <div class="py-2">
                    <label for="longUrl" class="font-semibold text-sm text-gray-600 py-1 block">Enter the long
                        url</label>
                    <input type="url" name="longUrl" required id="longUrl" placeholder="https://example.com"
                        class="py2 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm placeholder:text-sm placeholder:font-semibold placeholder:text-gray-400">
                </div>
                <button type="submit"
                    class="my-2 border-2 font-semibold text-sm rounded-md block w-full py-2 px-4 border-transparent text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Shorten
                </button>
            </div>
        </div>
    </div>
</div> -->