<!-- footer -->
<hr />
<div class="bg-gray-50">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
        <div>
            <div class="flex-shrink-0 flex items-center">
                <img class="block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
                    alt="Workflow" />
                <h1 class="h-8 w-auto font-extrabold text-2xl ml-2">Shortly</h1>
            </div>
            <h1 class="block text-sm text-gray-400 hover:text-gray-600 font-medium py-1">
                For you and by you.
            </h1>
        </div>
        <div>
            <h1 class="font-bold text-sm py-1">About</h1>
            <ul>
                <li class="flex flex-col">
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">Feedback</a>
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">Contacts</a>
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">Portfolio</a>
                </li>
            </ul>
        </div>
        <div>
            <h1 class="font-bold text-sm py-1">Quick Links</h1>
            <ul>
                <li class="flex flex-col">
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">Home</a>
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">Pricing</a>
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">Projects</a>
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">Blogs</a>
                </li>
            </ul>
        </div>
        <div>
            <h1 class="font-bold text-sm py-1">Socials</h1>
            <ul>
                <li class="flex flex-col">
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">
                        Email</a>
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">
                        Instagram</a>
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">
                        Twitter</a>
                    <a href="#" class="text-sm text-gray-400 hover:text-gray-600 font-medium">
                        Github</a>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="h-gutter py-2 sm:py-3">
        <p class="text-sm text-gray-400 hover:text-gray-600 font-medium">
            Copyright © 2022 Shortly. All rights reserved.
        </p>
    </div>
</div>