<!-- Get Started -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-4">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 md:flex md:items-center md:justify-between">
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">
            <span class="block">Ready to dive in?</span>
            <span class="block text-indigo-600">Create your first url today.</span>
        </h2>
        <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            
        </div>
    </div>
</div>