<!-- Navbar -->
<nav class="shadow sticky top-0 bg-white z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 right-0 flex items-center sm:hidden" id="burger">
                <!-- Mobile menu button-->
                <button type="button"
                    class="inline-flex items-center justify-center p-2 rounded-md text-black hover:text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>

                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>

                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex-1 flex items-center sm:items-stretch justify-start">
                <a href="/">
                    <div class="flex-shrink-0 flex items-center">
                        <img class="block lg:hidden h-8 w-auto"
                            src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
                        <h1 class="sm:hidden lg:block h-8 w-auto font-extrabold text-2xl ml-2 sm:ml-auto">Shortly</h1>
                    </div>
                </a>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">

                        <a href="#"
                            class="hover:text-blue-600 hover:underline px-3 py-2 rounded-md text-sm font-medium">Urls</a>

                        <a href="#"
                            class="hover:text-blue-600 hover:underline px-3 py-2 rounded-md text-sm font-medium">Project</a>

                        <a href="#"
                            class="hover:text-blue-600 hover:underline px-3 py-2 rounded-md text-sm font-medium">Pricing</a>

                        <a href="#"
                            class="hover:text-blue-600 hover:underline px-3 py-2 rounded-md text-sm font-medium">Blogs</a>
                    </div>
                </div>
            </div>
            <div
                class="hidden sm:flex absolute inset-y-0 right-0 items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <a href="/signin"
                    class="border-2 hover:bg-blue-600 hover:text-white px-3 py-2 rounded-md text-sm font-medium mr-2"
                    aria-current="signin">Sign In</a>
                <a href="/signup" class="bg-blue-600 text-white px-3 py-2 rounded-md text-sm font-medium ml-2"
                    aria-current="signup">Sign Up</a>
            </div>
        </div>
    </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">

            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium">Urls</a>

            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium">Project</a>

            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium">Pricing</a>

            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium">Blogs</a>

            <a href="/signin" class="hover:bg-blue-600 hover:text-white px-3 py-2 rounded-md text-base font-medium block"
                aria-current="signin">Sign In</a>

            <a href="/signup" class="hover:bg-blue-600 hover:text-white px-3 py-2 rounded-md text-base font-medium block"
                aria-current="signup">Sign Up</a>

        </div>
    </div>
</nav>