<div class="py-12">
    <div class="h-gutter py-4">
        <div class="bg-neutral-50 py-6">

            <form id="myForm" class="px-6 py-6 h-fit">
                <label for="longUrl" class="pl-2 text-sm font-medium text-neutral-500 py-1 block">Enter your long
                    URL here</label>
                <div class="relative">
                    <label for="longUrl" class="sr-only">Your long link goes here</label>
                    <input type="url" name="longUrl" required id="longUrl" placeholder="https://example.com"
                        class="bg-white text-sm font-medium text-neutral-600 appearance-none rounded-md relative w-full pl-3 pr-20 py-3 border border-neutral-200 focus:outline-none focus:ring-neutral-50 focus:border-neutral-300 sm:text-sm placeholder:text-sm placeholder:font-medium placeholder:text-neutral-400">
                    <button type="submit"
                        class="absolute inset-y-1 right-1 px-4 text-sm rounded-md border-transparent text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Generate
                    </button>
                </div>
            </form>

            <div id="recent-url-container" class="rounded-md mx-6 relative hidden overflow-hidden">
                <div id="recent-urls"></div>
                <a href="#" id="seeMoreLink"
                    class="absolute bottom-4 right-4 text-indigo-600 text-sm hover:underline cursor-pointer">See All</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>