<!-- toast message -->
<div id="toastmessage" class="invisible bg-blue-700 w-fit rounded-md z-50 fixed left-1/2 bottom-8 -translate-x-1/2">
    <h1 class="inline-block font-semibold text-sm py-2 pl-4 pr-1 w-fit text-white">Copied to clipboard</h1>
    <button><i class="fas fa-check-circle py-2 pr-4 pl-1 font-semibold text-white"></i></button>
</div>